*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/.idea/caches/
/.idea/gradle.xml
/.idea/libraries/
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/codeStyles/
/.idea/encodings.xml
